<html ng-app="dabbr">
    <head>
        <title>MUSEBOX</title>
        <link rel="shortcut icon" type="image/png" href="images/hh.png"/>
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Varela|VT323|Pacifico|Amatic+SC" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/theme.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/snackbar.css">
        <script src="js/app.js"></script>
        <script src="https://use.fontawesome.com/11af9c9f8b.js"></script>
        <script type="text/javascript">
            window.paceOptions = {
                document: true, // disabled
                eventLag: true,
                restartOnPushState: true,
                restartOnRequestAfter: true,
                ajax: {
                    trackMethods: ['POST', 'GET']
                }
            };
        </script>
        <script type="text/javascript" src="js/pace.js"></script>
        <link rel="stylesheet" type="text/css" href="css/pace.css">
    </head>
    <body>
        <div ng-controller="searchController">
            <div class="col-md-5" style="background-color:rgba(0,0,0,0.1); height:100%;padding-left:0px;padding-right:0px;">
                <div class="text-center" style="font-family:'Amatic SC';">
                    <img class="logo" src="images/rain.png" style="margin-top:20%;height:20%;border-radius:5px;">
                    <h1 style="font-family:'Amatic SC'; font-size:100px;">MUSEBOX</h1>
                    <span>&copy <a style="color:black; font-size:28px;" href="http://github.com/rajathans">rajathans</a></span>
                </div>
                <div ng-show="listen.url">
                    <div class="well col-md-12" style="bottom:0px;position:absolute;background-color:rgba(0,0,0,0.4);border-radius:0px;">
                        <p style="font-size:20px;color:white;">{{trackData.data.artist}}</p>
                        <p style="font-size:16px;color:white;">{{trackData.data.track}}</p>
                    </div>
                    <audio controls="controls" src="{{listen.url}}" style="bottom:0px;width:100%;position:absolute;">
                        Your browser does not support the HTML5 audio element.
                    </audio>
                </div>
            </div>
            <div class="col-md-7" style="background-color:white; height:100%;">
                <div style="margin-top:10px;">
                    <input type="text" class="form-control" placeholder="Type here..." ng-model="query.data">
                    <div style="overflow-y:scroll;height:90%;">
                        <div ng-if="tracks.data.length == 0">
                            <img style="height:40%;margin-top:50%px; margin-left:35%;" src="http://24.media.tumblr.com/8210fd413c5ce209678ef82d65731443/tumblr_mjphnqLpNy1s5jjtzo1_400.gif">
                        </div>

                        <table class="table table-hover table-striped">
                            <tbody style="font-size:14px;">
                                <tr ng-repeat="track in tracks.data">
                                    <td>
                                        <b>{{track.artist}}</b>
                                        <small>{{track.track}}</small>
                                    </td>
                                    <td ng-click="playTrack(track.track_id)">
                                        <a href="" style="color:black;text-decoration:none;">Play</a>
                                    </td>
                                    <td ng-click="downloadTrack(track.track_id)">
                                        <a href="">
                                            <i style="color:black" class="fa fa-download" aria-hidden="true" data-toggle="snackbar" data-content="Downloading..."></i>
                                        </a>
                                    </td>
                                    <td>
                                        {{track.bitrate}}
                                        <span ng-if="track.bitrate != 'VBR'">kbps</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/snackbar.min.js"></script>
    </body>
</html>
