<html ng-app="grabist">
    <head>
        <title>Grabist App</title>
        <link rel="shortcut icon" type="image/png" href="images/logo.jpg"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/theme.css">
        <script src="js/app.js"></script>
        <script src="https://use.fontawesome.com/11af9c9f8b.js"></script>
        <script type="text/javascript">
            window.paceOptions = {
                document: true, // disabled
                eventLag: true,
                restartOnPushState: true,
                restartOnRequestAfter: true,
                ajax: {
                    trackMethods: ['POST', 'GET']
                }
            };
        </script>
        <script type="text/javascript" src="js/pace.js"></script>
        <link rel="stylesheet" type="text/css" href="css/pace.css">
    </head>
    <body class="container">
        <div class="text-center">
            <div class="tutu">
                <img class="logo" src="images/logo.jpg" style="border-radius:6%;">
                <h4 style="font-family:courier;">Grabist by <a href="http://rajathans.me">rajathans</a></h4>
                <!-- <h5>Downloading music is simple as fuck.</h5> -->
                <!-- <div style="position:relative; float:bottom">
                    Designed and developed by <a href="http://rajathans.me">Rajat Hans</a>
                </div> -->
                <!-- <h5>Cool stuff coming soon! xx</h5> -->
            </div>
        </div>
        <div ng-controller="searchController">
            <div class="tutu">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Coldplay gravity" ng-model="query.data">
                    <span class="input-group-btn">
                        <span class="btn btn-primary" type="button">
                            <span>{{tracks.data.length}}</span>
                        </span>
                    </span>
                </div>
            </div>
            <div style="overflow-y:scroll; height:70%;">
                <div ng-if="tracks.data.length == 0">
                    <img style="margin-top:40px; margin-left:25%;" src="http://24.media.tumblr.com/09d752c4d06b88eaa7d75dfdbf63e32f/tumblr_mpehgjiJHQ1r8swqdo2_400.gif">
                    <!-- <h4>Type more or go back!!</h4> -->
                </div>

                <table class="table table-striped table-hover">
                    <tbody style="font-size:14px;">
                        <tr ng-repeat="track in tracks.data">
                            <td>{{$index + 1}}</td>
                            <td>
                                <b>{{track.artist}}</b>
                                <small>{{track.track}}</small>
                            </td>
                            <td ng-click="downloadTrack(track.track_id)">
                                <a href="">
                                    <i style="color:black" class="fa fa-download" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                {{track.bitrate}}
                                <span ng-if="track.bitrate != 'VBR'">kbps</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </body>
    </html>
